auto-save-list
backups
*~
.places
session.*
tramp
elpa
swank
emms
site-lisp/adventur-mode
*.elc
.DS_Store
.yas-compiled-snippets.el
.cask
/ede-projects.el
/history
/projectile-bookmarks.eld
/url/
/var/
/nrepl-history
/.mc-lists.el
/request/
/org-trello-already-scanning.lock
/bookmarks
/ac-comphist.dat
/projectile.cache
/eshell/
